<div class="comment-container">
  <div class="comment-section">
    <h2>Comments</h2>

    <!-- Display existing comments here -->

    <div class="comment" *ngFor="let rating of ratings">
      <p>
        <strong>{{ rating.name }}</strong> said:
      </p>
      <p>{{ rating.rating }}/5 stars</p>
      <p>{{ rating.comment }}</p>
    </div>

    <!-- Add new comment form -->

    <form class="new-comment">
      <h4>Add a comment</h4>

      <label for="stars">Rate Movie:</label>
      <ul id="stars" class="rating mb-3" data-mdb-toggle="rating">
        <li *ngFor="let star of Stars" (click)="countStar(star)">
          <i
            *ngIf="star > selectedValue"
            class="far fa-star fa-sm text-danger"
          ></i>
          <i
            *ngIf="star <= selectedValue"
            class="fas fa-star fa-sm text-danger"
          ></i>
        </li>
      </ul>

      <div>
        <label for="user">Name:</label>

        <input type="text" id="user" name="user" [(ngModel)]="name" />
      </div>

      <div>
        <label for="message">Comment:</label>

        <textarea id="message" name="message" [(ngModel)]="comment"></textarea>
      </div>

      <button type="submit" (click)="addComment()">Add Comment</button>
    </form>
  </div>
</div>
