<h1 class="header">Chronological Order</h1>
<div class="cont">
  <div class="elmntCont">
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
  </div>
</div>
<div class="cont">
  <div class="elmntCont">
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
    <div class="cardCont" style="margin: 10px">
      <app-movie-card></app-movie-card>
    </div>
  </div>
</div>
