<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><p class="STAR">STAR</p>
      <p class="WARS">WARS</p>
      <p class="DICTIONARY">DICTIONARY</p></a
    >
    <form class="d-flex" role="search">
      <input
        #Search
        class="form-control me-2"
        type="search"
        placeholder="Movie Name"
        aria-label="Search"
        (input)="search(Search.value)"
      />
      <ul>
        <li *ngFor="let movie of movies$">
          <a routerLink="/detail/{{ movie.name }}" (click)="reload(movie.name)">
            {{ movie.name }}
          </a>
        </li>
      </ul>
    </form>
  </div>
</nav>
