<div class="card">
    <h1 class="card-title"><img src="{{movie.pict}}" alt="">{{movie.name}}</h1>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
        Characters
    </div>
    <div class="card-body">
        {{movie.desc}}
    </div>
  </div>


<app-feedback-section></app-feedback-section>
<button class="btn btn-danger" (click)="goBack()">Back</button>
