<div class="card">
  <h1 class="card-title">
    <img src="{{ movie.picture }}" alt="" /><em class="movie-name">{{
      movie.name
    }}</em>
  </h1>
  <div class="card-body">
    <h2><em>Characters</em></h2>
    <p class="list">
      <app-character-card
        *ngFor="let char of characters"
        [character]="char"
      ></app-character-card>
    </p>
  </div>
  <div class="card-body">
    <h2><em>Description</em></h2>
    {{ movie.description }}
  </div>
</div>

<app-feedback-section></app-feedback-section>
<button class="btn btn-danger" (click)="goBack()">Back</button>
