.card{
    height: fit-content;
    width: 90%;
    margin:20px 5% 0 5%;
    background-color: rgba(40, 40, 40, .8);
    color: white;
}

img{
    max-width: 400px;
    border-radius: .3rem;
    padding-right: 1rem;
}

.unordered-list{
    
}