<div class="card">
    <h1 class="card-title"><img src="{{movie.pict}}" alt="">{{movie.name}}</h1>
    <div class="card-body">
        <h2><em>Characters</em></h2>
        <ul class="unorder-list">
            <li>Character 1</li>
            <li>Character 2</li>
            <li>Character 3</li>
            <li>Character 4</li>
            <li>Character 5</li>
        </ul>
    </div>
    <div class="card-body">
        <h2><em>Description</em></h2>
        {{movie.desc}}
    </div>
</div>


<app-feedback-section></app-feedback-section>
<button class="btn btn-danger" (click)="goBack()">Back</button>
